.oil-image {
    width:80%;
    height:auto;
}

@media (min-width: 200px) and (max-width:500px) {
    .whyK-para {
        text-align: center;
        font-size:20px;
    }
} 

@media (min-width: 1000px) {
    .whyK-para {
        text-align: center;
        font-size:28px;
    }
}  
