.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.add-pad-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left:1rem;
    padding-right:1rem;
}


.bg-beige-20 {
    background-color: #FBF9F8;
}

.center .mainheader:after {
    margin-left: auto;
    margin-right: auto;
}

.center .mainheader:after {
    content: '';
    display: block;
    width: 2rem;
    height: 3px;
    background: #6F1000;
    margin-top: 20px;
}

.header .mainheader {
    font-family: "Wanderlust Shine Pro",sans-serif;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 0 2px;
}