
body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  letter-spacing: .015rem;
  line-height: 2;
  font-size:30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size:30px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.add-pad-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left:1rem;
  padding-right:1rem;
}

.add-pad-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left:1rem;
  padding-right:1rem;
}


.bg-beige-20 {
  background-color: #FBF9F8;
}

.bg-kurinjini-flower {
  background-color: #f8f8fe;
}

.center .mainheader:after {
  margin-left: auto;
  margin-right: auto;
}

.center .mainheader:after {
  content: '';
  display: block;
  width: 2rem;
  height: 3px;
  background: #6F1000;
  margin-top: 20px;
}

.header .mainheader {
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding: 0 2px;
}

@media (min-width: 200px) {
  .inside-para {
    font-size: 16px;
    text-align:center;
  }

  .shopping-header {
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    line-height: 1em;
    color:#31315f;
    text-transform: none;
  }

  .h1, h1, .mainheader {
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    text-transform: none;
    line-height: 1em;
    color:#31315f;
  }
  
  .h2, h2  {
    font-family: 'Niconne', cursive;
    font-size: 1rem;
    text-transform: lowercase;
    line-height: 1em;
    color:#31315f;
    font-weight:400;
  }
}

@media (min-width: 700px) {
  .inside-para {
    font-size: 20px;
    text-align:center;
  }
  .shopping-header {
    font-family: 'Lobster', cursive;
    font-size: 1.4rem;
    line-height: 1em;
    color:#31315f;
    text-transform: none;
  }
  .h1, h1, .mainheader {
    font-family: 'Lobster', cursive;
    font-size: 1.66667rem;
    text-transform: none;
    line-height: 1em;
    color:#31315f;
  }
  
  .h2, h2  {
    font-family: 'Niconne', cursive;
    font-size: 1rem;
    text-transform: lowercase;
    line-height: 1em;
    color:#31315f;
  }
}


.excerpt {
  font-size: 20px;
  padding: 0 5px;
}

.inside-list {
  list-style: none;
  font-size:20px;
}

.offer {
  padding: 6px 10px 7px;
}

.bg-red {
  background-color: #31315f;
}

.white-text {
  color:white;
}